APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:IjMejKz7rU2wuTxfULF0vo5azs1Qg9xIqLiNorq0IZU=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=api_usuarios
DB_USERNAME=seu_usuario_postgres
DB_PASSWORD=sua_senha_postgres
